.classpath
.project
.settings
*/.settings
*/.vertx
target/
*/target
.idea
*.iml
*.lck
*.log
*.tsv
out
node
node_modules
service/service-admin/WebContent/META-INF/MANIFEST.MF
service/service-admin/WebContent/WEB-INF/web.xml
